body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:33px;
  width:320px;
  height:568px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:33px;
  width:320px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:61px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:56px;
  top:33px;
  width:308px;
  height:13px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:50px;
  top:560px;
  width:320px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:198px;
  top:566px;
  width:30px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:136px;
  top:570px;
  width:23px;
  height:23px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:72px;
  top:569px;
  width:24px;
  height:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:263px;
  top:569px;
  width:22px;
  height:24px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:326px;
  top:569px;
  width:24px;
  height:24px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:194px;
  top:63px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:50px;
  top:93px;
  width:325px;
  height:155px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  line-height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:50px;
  width:320px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  line-height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:100px;
  width:320px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  line-height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:285px;
  top:99px;
  width:73px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:10px;
  color:#666666;
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:65px;
  top:106px;
  width:26px;
  height:26px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u30 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:285px;
  top:147px;
  width:73px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:10px;
  color:#666666;
  text-align:right;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:64px;
  top:155px;
  width:28px;
  height:28px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:65px;
  top:205px;
  width:26px;
  height:26px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u36 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:291px;
  top:197px;
  width:67px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:10px;
  color:#666666;
  text-align:right;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:63px;
  top:623px;
  width:300px;
  height:150px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u40 {
  position:absolute;
  left:8px;
  top:8px;
  width:290px;
  word-wrap:break-word;
}
