body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:0px;
  width:1000px;
  height:439px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:439px;
}
#u1 {
  position:absolute;
  left:2px;
  top:212px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:54px;
  top:514px;
  width:741px;
  height:176px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  height:176px;
}
#u3 {
  position:absolute;
  left:2px;
  top:80px;
  width:737px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:130px;
  top:360px;
  width:0px;
  height:290px;
}
#u4_seg0 {
  position:absolute;
  left:-100px;
  top:-10px;
  width:104px;
  height:20px;
}
#u4_seg1 {
  position:absolute;
  left:-100px;
  top:-10px;
  width:20px;
  height:310px;
}
#u4_seg2 {
  position:absolute;
  left:-100px;
  top:280px;
  width:104px;
  height:20px;
}
#u5 {
  position:absolute;
  left:-140px;
  top:137px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
