body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-90px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:62px;
  width:1200px;
  height:750px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:750px;
}
#u1 {
  position:absolute;
  left:2px;
  top:367px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:62px;
  width:1200px;
  height:48px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:48px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:135px;
  top:68px;
  width:76px;
  height:35px;
  font-family:'Futura Condensed Bold', 'Futura';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:225px;
  top:62px;
  width:10px;
  height:48px;
}
#u6_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u6_end {
  position:absolute;
  left:-5px;
  top:31px;
  width:20px;
  height:18px;
}
#u6_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:48px;
}
#u7 {
  position:absolute;
  left:282px;
  top:76px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:1217px;
  top:76px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:249px;
  top:74px;
  width:24px;
  height:24px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:135px;
  top:150px;
  width:33px;
  height:33px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:178px;
  top:152px;
  width:210px;
  height:29px;
  font-family:'Helvetica Neue LT Pro 55 Roman', 'Helvetica Neue LT Pro';
  font-size:24px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:29px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:135px;
  top:200px;
  width:320px;
  height:240px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
}
#u18 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:524px;
  top:200px;
  width:656px;
  height:574px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:574px;
}
#u20 {
  position:absolute;
  left:2px;
  top:279px;
  width:652px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:135px;
  top:480px;
  width:320px;
  height:260px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:260px;
}
#u22 {
  position:absolute;
  left:2px;
  top:122px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:148px;
  top:494px;
  width:113px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:148px;
  top:534px;
  width:291px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:21px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:185px;
  top:532px;
  width:73px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u28 {
  position:absolute;
  left:336px;
  top:532px;
  width:73px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u29 {
  position:absolute;
  left:148px;
  top:567px;
  width:192px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:0px;
}
#u31 {
  position:absolute;
  left:148px;
  top:597px;
  width:192px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:0px;
}
#u33 {
  position:absolute;
  left:148px;
  top:627px;
  width:192px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u34 {
  position:absolute;
  left:16px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u33_input {
  position:absolute;
  left:-3px;
  top:0px;
}
#u35 {
  position:absolute;
  left:148px;
  top:657px;
  width:192px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u36 {
  position:absolute;
  left:16px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u35_input {
  position:absolute;
  left:-3px;
  top:0px;
}
#u37 {
  position:absolute;
  left:148px;
  top:700px;
  width:83px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u38 {
  position:absolute;
  left:250px;
  top:700px;
  width:80px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u39 {
  position:absolute;
  left:349px;
  top:700px;
  width:80px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u40 {
  position:absolute;
  left:640px;
  top:132px;
  width:100px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:159px;
  top:725px;
  width:10px;
  height:44px;
}
#u42_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u42_end {
  position:absolute;
  left:-5px;
  top:27px;
  width:20px;
  height:18px;
}
#u42_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:44px;
}
#u43 {
  position:absolute;
  left:160px;
  top:725px;
  width:9px;
  height:10px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:10px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-3px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:148px;
  top:769px;
  width:261px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:1px;
  width:257px;
  word-wrap:break-word;
}
