body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-90px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:62px;
  width:1200px;
  height:750px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:750px;
}
#u1 {
  position:absolute;
  left:2px;
  top:367px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:520px;
  top:172px;
  width:340px;
  height:163px;
  font-family:'Futura Condensed Bold', 'Futura';
  font-weight:700;
  font-style:normal;
  font-size:128px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:163px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:575px;
  top:380px;
  width:230px;
  height:52px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:52px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:52px;
  color:#555555;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:52px;
}
#u6 {
  position:absolute;
  left:2px;
  top:18px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:32px;
  top:11px;
  width:30px;
  height:30px;
  color:#555555;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:69px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:52px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:52px;
  color:#555555;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:52px;
}
#u12 {
  position:absolute;
  left:2px;
  top:18px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:32px;
  top:11px;
  width:30px;
  height:30px;
  color:#555555;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:69px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
