body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:58px;
  width:105px;
  height:65px;
}
#u0_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u2 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2_img.selected {
}
#u2.selected {
}
#u3 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u5 {
  position:absolute;
  left:3px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u7 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u8 {
  position:absolute;
  left:3px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u10 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u11 {
  position:absolute;
  left:3px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:210px;
  top:58px;
  width:81px;
  height:27px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:210px;
  top:110px;
  width:137px;
  height:20px;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:210px;
  top:150px;
  width:71px;
  height:20px;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:284px;
  top:148px;
  width:100px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u18_input {
  font-family:'Applied Font';
}
#u19 {
  position:absolute;
  left:210px;
  top:215px;
  width:100px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u19_input {
  font-family:'Applied Font';
}
#u20 {
  position:absolute;
  left:190px;
  top:260px;
  width:1120px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:1103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1120px;
  height:1px;
}
#u21 {
  position:absolute;
  left:210px;
  top:298px;
  width:81px;
  height:27px;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:210px;
  top:440px;
  width:71px;
  height:20px;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:284px;
  top:438px;
  width:100px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u25_input {
  font-family:'Applied Font';
}
#u26 {
  position:absolute;
  left:210px;
  top:505px;
  width:100px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u26_input {
  font-family:'Applied Font';
}
#u27 {
  position:absolute;
  left:210px;
  top:347px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:283px;
  top:344px;
  width:137px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background-image:;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u29_input {
  font-family:'Applied Font';
}
#u30 {
  position:absolute;
  left:210px;
  top:393px;
  width:66px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:283px;
  top:389px;
  width:137px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u32_input {
  font-family:'Applied Font';
}
#u33 {
  position:absolute;
  left:378px;
  top:416px;
  width:160px;
  height:163px;
  overflow:hidden;
  visibility:hidden;
}
#u33_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:163px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:162px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:162px;
}
#u35 {
  position:absolute;
  left:2px;
  top:73px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:5px;
  top:7px;
  width:150px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:9px;
  top:42px;
  width:146px;
  height:118px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:118px;
}
#u39 {
  position:absolute;
  left:2px;
  top:51px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:71px;
  top:89px;
  width:21px;
  height:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u41 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:55px;
  top:15px;
  width:50px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:12px;
  color:#333333;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:135px;
  top:15px;
  width:15px;
  height:15px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u45 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:71px;
  top:89px;
  width:21px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u47 {
  position:absolute;
  left:9px;
  top:15px;
  width:15px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u48 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:400px;
  top:392px;
  width:20px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:328px;
  top:510px;
  width:503px;
  height:19px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:440px;
  top:347px;
  width:80px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  height:1px;
}
#u54 {
  position:absolute;
  left:520px;
  top:330px;
  width:200px;
  height:44px;
  text-align:left;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:44px;
}
#u55 {
  position:absolute;
  left:10px;
  top:12px;
  width:185px;
  word-wrap:break-word;
}
