body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:229px;
  width:1120px;
  height:433px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:433px;
}
#u1 {
  position:absolute;
  left:2px;
  top:208px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:254px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:281px;
  top:298px;
  width:200px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4_input {
  font-family:'Applied Font';
}
#u5 {
  position:absolute;
  left:190px;
  top:62px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:281px;
  top:58px;
  width:379px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7_input {
  font-family:'Applied Font';
}
#u8 {
  position:absolute;
  left:222px;
  top:100px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:281px;
  top:98px;
  width:79px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u10_input {
  font-family:'Applied Font';
}
#u11 {
  position:absolute;
  left:140px;
  top:224px;
  width:1120px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:1103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1120px;
  height:1px;
}
#u12 {
  position:absolute;
  left:231px;
  top:301px;
  width:40px;
  height:19px;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:205px;
  top:377px;
  width:66px;
  height:19px;
  text-align:right;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:379px;
  top:377px;
  width:33px;
  height:19px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:205px;
  top:339px;
  width:66px;
  height:19px;
  text-align:right;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:281px;
  top:336px;
  width:79px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u20_input {
  font-family:'Applied Font';
}
#u21 {
  position:absolute;
  left:281px;
  top:374px;
  width:89px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background-image:;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u21_input {
  font-family:'Applied Font';
}
#u22 {
  position:absolute;
  left:420px;
  top:374px;
  width:89px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background-image:;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u22_input {
  font-family:'Applied Font';
}
#u23 {
  position:absolute;
  left:205px;
  top:419px;
  width:66px;
  height:19px;
  text-align:right;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:281px;
  top:416px;
  width:100px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u25_input {
  font-family:'Applied Font';
}
#u26 {
  position:absolute;
  left:190px;
  top:139px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  text-align:right;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:281px;
  top:137px;
  width:79px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u28_input {
  font-family:'Applied Font';
}
#u29 {
  position:absolute;
  left:370px;
  top:140px;
  width:27px;
  height:19px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:174px;
  top:180px;
  width:97px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  text-align:right;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:281px;
  top:176px;
  width:100px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u33_input {
  font-family:'Applied Font';
}
#u34 {
  position:absolute;
  left:1210px;
  top:408px;
  width:25px;
  height:25px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1210px;
  top:335px;
  width:25px;
  height:25px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1210px;
  top:262px;
  width:25px;
  height:25px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1209px;
  top:292px;
  width:27px;
  height:19px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:1209px;
  top:366px;
  width:27px;
  height:19px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:1209px;
  top:441px;
  width:27px;
  height:19px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:190px;
  top:688px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:281px;
  top:732px;
  width:200px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u48_input {
  font-family:'Applied Font';
}
#u49 {
  position:absolute;
  left:231px;
  top:735px;
  width:40px;
  height:19px;
  text-align:right;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:205px;
  top:817px;
  width:66px;
  height:19px;
  text-align:right;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:379px;
  top:817px;
  width:33px;
  height:19px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:205px;
  top:776px;
  width:66px;
  height:19px;
  text-align:right;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:281px;
  top:773px;
  width:79px;
  height:25px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u57_input {
  font-family:'Applied Font';
}
#u58 {
  position:absolute;
  left:281px;
  top:814px;
  width:89px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background-image:;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u58_input {
  font-family:'Applied Font';
}
#u59 {
  position:absolute;
  left:420px;
  top:814px;
  width:89px;
  height:25px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background-image:;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u59_input {
  font-family:'Applied Font';
}
#u60 {
  position:absolute;
  left:205px;
  top:858px;
  width:66px;
  height:19px;
  text-align:right;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:190px;
  top:942px;
  width:100px;
  height:35px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u62_input {
  font-family:'Applied Font';
}
#u63 {
  position:absolute;
  left:140px;
  top:1013px;
  width:1120px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:1103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1120px;
  height:1px;
}
#u64 {
  position:absolute;
  left:442px;
  top:1033px;
  width:516px;
  height:28px;
  font-size:16px;
  line-height:28px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:28px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:543px;
  top:1103px;
  width:100px;
  height:35px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:14px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u66_input {
  font-family:'Applied Font';
}
#u67 {
  position:absolute;
  left:743px;
  top:1103px;
  width:100px;
  height:35px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:14px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u67_input {
  font-family:'Applied Font';
}
#u68 {
  position:absolute;
  left:650px;
  top:1153px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u69 {
  position:absolute;
  left:281px;
  top:544px;
  width:195px;
  height:19px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:19px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:281px;
  top:580px;
  width:780px;
  height:19px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:19px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:281px;
  top:471px;
  width:767px;
  height:19px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:19px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:281px;
  top:506px;
  width:436px;
  height:19px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:19px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:281px;
  top:617px;
  width:572px;
  height:19px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:19px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:409px;
  top:416px;
  width:100px;
  height:25px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u79_input {
  font-family:'Applied Font';
}
#u80 {
  position:absolute;
  left:1058px;
  top:472px;
  width:16px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u81 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:1091px;
  top:472px;
  width:16px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u83 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:1124px;
  top:472px;
  width:16px;
  height:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u85 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:727px;
  top:508px;
  width:16px;
  height:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u87 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:760px;
  top:508px;
  width:16px;
  height:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u89 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:793px;
  top:508px;
  width:16px;
  height:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u91 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:476px;
  top:546px;
  width:16px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u93 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:509px;
  top:546px;
  width:16px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u95 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:542px;
  top:546px;
  width:16px;
  height:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u97 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:1071px;
  top:582px;
  width:16px;
  height:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u99 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1104px;
  top:582px;
  width:16px;
  height:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u101 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:1137px;
  top:582px;
  width:16px;
  height:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u103 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:863px;
  top:618px;
  width:16px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u105 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:896px;
  top:618px;
  width:16px;
  height:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u107 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:929px;
  top:618px;
  width:16px;
  height:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u109 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:281px;
  top:855px;
  width:100px;
  height:25px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u110_input {
  font-family:'Applied Font';
}
#u111 {
  position:absolute;
  left:409px;
  top:855px;
  width:100px;
  height:25px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u111_input {
  font-family:'Applied Font';
}
#u112 {
  position:absolute;
  left:20px;
  top:58px;
  width:105px;
  height:65px;
}
#u112_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u114 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u114_img.selected {
}
#u114.selected {
}
#u115 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u117 {
  position:absolute;
  left:3px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u113_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u118 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u119 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u120 {
  position:absolute;
  left:3px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u122 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u123 {
  position:absolute;
  left:3px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:1430px;
  height:1181px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1430px;
  height:1181px;
}
#u125 {
  position:absolute;
  left:2px;
  top:582px;
  width:1426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:271px;
  top:270px;
  width:582px;
  height:381px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:381px;
}
#u127 {
  position:absolute;
  left:2px;
  top:182px;
  width:578px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:530px;
  top:292px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  text-align:center;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:430px;
  top:607px;
  width:100px;
  height:25px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u130_input {
  font-family:'Applied Font';
}
#u131 {
  position:absolute;
  left:590px;
  top:607px;
  width:100px;
  height:25px;
}
#u131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u131_input {
  font-family:'Applied Font';
}
#u132 {
  position:absolute;
  left:296px;
  top:338px;
  width:534px;
  height:211px;
  overflow:hidden;
}
#u132_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:211px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u132_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:380px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:380px;
}
#u134 {
  position:absolute;
  left:2px;
  top:182px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:10px;
  top:14px;
  width:500px;
  height:38px;
}
#u136 {
  position:absolute;
  left:16px;
  top:0px;
  width:482px;
  word-wrap:break-word;
}
#u135_input {
  position:absolute;
  left:-3px;
  top:8px;
}
#u137 {
  position:absolute;
  left:10px;
  top:67px;
  width:500px;
  height:19px;
}
#u138 {
  position:absolute;
  left:16px;
  top:0px;
  width:482px;
  word-wrap:break-word;
}
#u137_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u139 {
  position:absolute;
  left:10px;
  top:102px;
  width:500px;
  height:19px;
}
#u140 {
  position:absolute;
  left:16px;
  top:0px;
  width:482px;
  word-wrap:break-word;
}
#u139_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u141 {
  position:absolute;
  left:10px;
  top:136px;
  width:500px;
  height:38px;
}
#u142 {
  position:absolute;
  left:16px;
  top:0px;
  width:482px;
  word-wrap:break-word;
}
#u141_input {
  position:absolute;
  left:-3px;
  top:8px;
}
#u143 {
  position:absolute;
  left:10px;
  top:190px;
  width:500px;
  height:38px;
}
#u144 {
  position:absolute;
  left:16px;
  top:0px;
  width:482px;
  word-wrap:break-word;
}
#u143_input {
  position:absolute;
  left:-3px;
  top:8px;
}
#u145 {
  position:absolute;
  left:10px;
  top:243px;
  width:500px;
  height:38px;
}
#u146 {
  position:absolute;
  left:16px;
  top:0px;
  width:482px;
  word-wrap:break-word;
}
#u145_input {
  position:absolute;
  left:-3px;
  top:8px;
}
#u147 {
  position:absolute;
  left:10px;
  top:297px;
  width:500px;
  height:19px;
}
#u148 {
  position:absolute;
  left:16px;
  top:0px;
  width:482px;
  word-wrap:break-word;
}
#u147_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u149 {
  position:absolute;
  left:10px;
  top:331px;
  width:500px;
  height:38px;
}
#u150 {
  position:absolute;
  left:16px;
  top:0px;
  width:482px;
  word-wrap:break-word;
}
#u149_input {
  position:absolute;
  left:-3px;
  top:8px;
}
#u151 {
  position:absolute;
  left:528px;
  top:571px;
  width:69px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  text-align:center;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:838px;
  top:261px;
  width:24px;
  height:24px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u154 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
