body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:33px;
  width:320px;
  height:568px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:33px;
  width:320px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:61px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:56px;
  top:33px;
  width:308px;
  height:13px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:50px;
  top:560px;
  width:320px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:198px;
  top:566px;
  width:30px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:136px;
  top:570px;
  width:23px;
  height:23px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:72px;
  top:569px;
  width:24px;
  height:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:263px;
  top:569px;
  width:22px;
  height:24px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:326px;
  top:569px;
  width:24px;
  height:24px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:60px;
  top:58px;
  width:259px;
  height:30px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'微软雅黑';
  font-size:14px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u19 {
  position:absolute;
  left:329px;
  top:63px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:64px;
  top:64px;
  width:18px;
  height:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u22 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:50px;
  top:93px;
  width:325px;
  height:110px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:35px;
  width:320px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:70px;
  width:320px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#999999;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:66px;
  top:104px;
  width:15px;
  height:15px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u31 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:66px;
  top:138px;
  width:15px;
  height:15px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u33 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:348px;
  top:103px;
  width:10px;
  height:16px;
  font-family:'Verdana Normal', 'Verdana';
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:348px;
  top:137px;
  width:10px;
  height:16px;
  font-family:'Verdana Normal', 'Verdana';
  color:#999999;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:278px;
  top:568px;
  width:15px;
  height:15px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u39 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
