body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:310px;
  width:260px;
  height:175px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:175px;
}
#u1 {
  position:absolute;
  left:2px;
  top:80px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:20px;
  width:260px;
  height:120px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:52px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:175px;
  top:36px;
  width:85px;
  height:66px;
  font-size:14px;
  line-height:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:66px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:80px;
  top:34px;
  width:70px;
  height:93px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:93px;
}
#u7 {
  position:absolute;
  left:2px;
  top:38px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:70px;
  top:321px;
  width:240px;
  height:30px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u9 {
  position:absolute;
  left:8px;
  top:6px;
  width:230px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:350px;
  top:20px;
  width:950px;
  height:1450px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:1450px;
}
#u11 {
  position:absolute;
  left:2px;
  top:717px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:60px;
  top:150px;
  width:260px;
  height:90px;
  text-align:left;
  line-height:36px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:90px;
}
#u13 {
  position:absolute;
  left:8px;
  top:9px;
  width:250px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:831px;
  top:36px;
  width:145px;
  height:31px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:31px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:734px;
  top:92px;
  width:128px;
  height:21px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:21px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:930px;
  top:92px;
  width:144px;
  height:21px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:21px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:430px;
  top:166px;
  width:246px;
  height:24px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:440px;
  top:205px;
  width:767px;
  height:19px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:450px;
  top:259px;
  width:220px;
  height:19px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:450px;
  top:291px;
  width:220px;
  height:19px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:450px;
  top:323px;
  width:220px;
  height:19px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:450px;
  top:355px;
  width:220px;
  height:19px;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:430px;
  top:414px;
  width:237px;
  height:24px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:24px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:440px;
  top:453px;
  width:351px;
  height:19px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:450px;
  top:510px;
  width:341px;
  height:19px;
}
#u37 {
  position:absolute;
  left:16px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u36_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38 {
  position:absolute;
  left:450px;
  top:539px;
  width:341px;
  height:19px;
}
#u39 {
  position:absolute;
  left:16px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u38_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40 {
  position:absolute;
  left:450px;
  top:568px;
  width:341px;
  height:19px;
}
#u41 {
  position:absolute;
  left:16px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u40_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42 {
  position:absolute;
  left:450px;
  top:597px;
  width:341px;
  height:19px;
}
#u43 {
  position:absolute;
  left:16px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u42_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u44 {
  position:absolute;
  left:360px;
  top:205px;
  width:70px;
  height:22px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background-image:;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u45 {
  position:absolute;
  left:430px;
  top:644px;
  width:237px;
  height:24px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:24px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:440px;
  top:686px;
  width:152px;
  height:19px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:460px;
  top:820px;
  width:27px;
  height:19px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:460px;
  top:857px;
  width:27px;
  height:19px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:460px;
  top:894px;
  width:27px;
  height:19px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:460px;
  top:930px;
  width:27px;
  height:19px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:460px;
  top:967px;
  width:27px;
  height:19px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:580px;
  top:820px;
  width:27px;
  height:19px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:580px;
  top:858px;
  width:27px;
  height:19px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:580px;
  top:894px;
  width:27px;
  height:19px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:580px;
  top:930px;
  width:27px;
  height:19px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:580px;
  top:968px;
  width:40px;
  height:19px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:360px;
  top:452px;
  width:70px;
  height:22px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background-image:;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u70 {
  position:absolute;
  left:430px;
  top:1012px;
  width:237px;
  height:24px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:24px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:430px;
  top:1216px;
  width:246px;
  height:24px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:24px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:465px;
  top:918px;
  width:135px;
  height:10px;
  -webkit-transform:rotate(50deg);
  -moz-transform:rotate(50deg);
  -ms-transform:rotate(50deg);
  transform:rotate(50deg);
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:118px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:135px;
  height:1px;
}
#u75 {
  position:absolute;
  left:466px;
  top:876px;
  width:135px;
  height:10px;
  -webkit-transform:rotate(50deg);
  -moz-transform:rotate(50deg);
  -ms-transform:rotate(50deg);
  transform:rotate(50deg);
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:118px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:135px;
  height:1px;
}
#u76 {
  position:absolute;
  left:485px;
  top:881px;
  width:96px;
  height:10px;
  -webkit-transform:rotate(340deg);
  -moz-transform:rotate(340deg);
  -ms-transform:rotate(340deg);
  transform:rotate(340deg);
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:79px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:96px;
  height:1px;
}
#u77 {
  position:absolute;
  left:465px;
  top:881px;
  width:137px;
  height:10px;
  -webkit-transform:rotate(310deg);
  -moz-transform:rotate(310deg);
  -ms-transform:rotate(310deg);
  transform:rotate(310deg);
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:120px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:137px;
  height:1px;
}
#u78 {
  position:absolute;
  left:478px;
  top:936px;
  width:108px;
  height:10px;
  -webkit-transform:rotate(325deg);
  -moz-transform:rotate(325deg);
  -ms-transform:rotate(325deg);
  transform:rotate(325deg);
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:91px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:5px;
  width:108px;
  height:1px;
}
#u79 {
  position:absolute;
  left:360px;
  top:684px;
  width:70px;
  height:22px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background-image:;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u80 {
  position:absolute;
  left:445px;
  top:889px;
  width:15px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:20px;
  color:#FF0000;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:27px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:445px;
  top:926px;
  width:15px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:20px;
  color:#FF0000;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:27px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:640px;
  top:506px;
  width:15px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:20px;
  color:#FF0000;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:27px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:630px;
  top:535px;
  width:15px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:20px;
  color:#FF0000;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:27px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:440px;
  top:481px;
  width:93px;
  height:19px;
  color:#FF0000;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:440px;
  top:231px;
  width:75px;
  height:19px;
  color:#FF0000;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:440px;
  top:715px;
  width:136px;
  height:95px;
  color:#FF0000;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:95px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:440px;
  top:1049px;
  width:160px;
  height:19px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:19px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:460px;
  top:1134px;
  width:100px;
  height:19px;
}
#u97 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u96_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u98 {
  position:absolute;
  left:460px;
  top:1163px;
  width:100px;
  height:19px;
}
#u99 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u98_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u100 {
  position:absolute;
  left:440px;
  top:1075px;
  width:92px;
  height:19px;
  color:#FF0000;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:360px;
  top:1049px;
  width:70px;
  height:22px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background-image:;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u103 {
  position:absolute;
  left:517px;
  top:1130px;
  width:15px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:20px;
  color:#FF0000;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:27px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:440px;
  top:1101px;
  width:113px;
  height:19px;
  color:#008000;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:440px;
  top:1261px;
  width:165px;
  height:19px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:440px;
  top:1321px;
  width:750px;
  height:100px;
}
#u109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:100px;
  background-image:;
  text-align:left;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u110 {
  position:absolute;
  left:440px;
  top:1290px;
  width:501px;
  height:19px;
  color:#008000;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:19px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:360px;
  top:1260px;
  width:70px;
  height:22px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background-image:;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u113 {
  position:absolute;
  left:960px;
  top:1549px;
  width:50px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u114 {
  position:absolute;
  left:80px;
  top:369px;
  width:127px;
  height:38px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:38px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:80px;
  top:425px;
  width:128px;
  height:38px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:38px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:70px;
  top:410px;
  width:240px;
  height:10px;
}
#u118_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u118_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u118_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u119 {
  position:absolute;
  left:150px;
  top:494px;
  width:10px;
  height:41px;
}
#u119_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u119_end {
  position:absolute;
  left:-5px;
  top:24px;
  width:20px;
  height:18px;
}
#u119_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:41px;
}
#u120 {
  position:absolute;
  left:70px;
  top:534px;
  width:200px;
  height:73px;
  text-align:left;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:73px;
}
#u121 {
  position:absolute;
  left:8px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:60px;
  top:250px;
  width:120px;
  height:50px;
}
#u122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u123 {
  position:absolute;
  left:200px;
  top:250px;
  width:120px;
  height:50px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u124 {
  position:absolute;
  left:946px;
  top:1435px;
  width:261px;
  height:27px;
  font-size:20px;
  color:#FF0000;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:27px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:915px;
  top:1416px;
  width:38px;
  height:33px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:33px;
}
#u127 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:1000px;
  top:1503px;
  width:70px;
  height:46px;
  text-align:left;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:46px;
}
#u129 {
  position:absolute;
  left:8px;
  top:14px;
  width:60px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:1000px;
  top:1462px;
  width:10px;
  height:41px;
}
#u130_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u130_end {
  position:absolute;
  left:-5px;
  top:24px;
  width:20px;
  height:18px;
}
#u130_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:41px;
}
