body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:211px;
  width:260px;
  height:560px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:560px;
}
#u1 {
  position:absolute;
  left:2px;
  top:272px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:20px;
  width:260px;
  height:120px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:52px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:175px;
  top:36px;
  width:85px;
  height:66px;
  font-size:14px;
  line-height:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:66px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:80px;
  top:34px;
  width:70px;
  height:93px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:93px;
}
#u7 {
  position:absolute;
  left:2px;
  top:38px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:70px;
  top:212px;
  width:249px;
  height:558px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:558px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:10px;
  width:240px;
  height:30px;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u10 {
  position:absolute;
  left:8px;
  top:6px;
  width:230px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:60px;
  width:30px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:45px;
  top:60px;
  width:30px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:89px;
  top:60px;
  width:30px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:133px;
  top:60px;
  width:30px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:178px;
  top:60px;
  width:30px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:105px;
  width:30px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:45px;
  top:105px;
  width:30px;
  height:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:89px;
  top:105px;
  width:30px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:133px;
  top:105px;
  width:30px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:178px;
  top:105px;
  width:30px;
  height:30px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:160px;
  width:240px;
  height:30px;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u32 {
  position:absolute;
  left:8px;
  top:6px;
  width:230px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:210px;
  width:30px;
  height:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:45px;
  top:210px;
  width:30px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:89px;
  top:210px;
  width:30px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:133px;
  top:210px;
  width:30px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:178px;
  top:210px;
  width:30px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:270px;
  width:240px;
  height:30px;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u44 {
  position:absolute;
  left:8px;
  top:6px;
  width:230px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:320px;
  width:30px;
  height:30px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:380px;
  width:240px;
  height:30px;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u48 {
  position:absolute;
  left:8px;
  top:6px;
  width:230px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:430px;
  width:30px;
  height:30px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:45px;
  top:430px;
  width:30px;
  height:30px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:89px;
  top:430px;
  width:30px;
  height:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:133px;
  top:430px;
  width:30px;
  height:30px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:178px;
  top:430px;
  width:30px;
  height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:477px;
  width:30px;
  height:30px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:45px;
  top:477px;
  width:30px;
  height:30px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:89px;
  top:477px;
  width:30px;
  height:30px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:133px;
  top:477px;
  width:30px;
  height:30px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:178px;
  top:477px;
  width:30px;
  height:30px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:536px;
  width:240px;
  height:30px;
  text-align:left;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u70 {
  position:absolute;
  left:8px;
  top:6px;
  width:230px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:586px;
  width:30px;
  height:30px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:45px;
  top:586px;
  width:30px;
  height:30px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:89px;
  top:586px;
  width:30px;
  height:30px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:79px;
  top:626px;
  width:50px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u78 {
  position:absolute;
  left:350px;
  top:20px;
  width:950px;
  height:1180px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:1180px;
}
#u79 {
  position:absolute;
  left:2px;
  top:582px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:760px;
  top:1135px;
  width:130px;
  height:40px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u81 {
  position:absolute;
  left:60px;
  top:150px;
  width:260px;
  height:50px;
  text-align:left;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u82 {
  position:absolute;
  left:45px;
  top:12px;
  width:213px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:800px;
  top:1210px;
  width:50px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u84 {
  position:absolute;
  left:60px;
  top:822px;
  width:200px;
  height:88px;
  text-align:left;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:88px;
}
#u85 {
  position:absolute;
  left:8px;
  top:6px;
  width:190px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:140px;
  top:781px;
  width:10px;
  height:41px;
}
#u86_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u86_end {
  position:absolute;
  left:-5px;
  top:24px;
  width:20px;
  height:18px;
}
#u86_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:41px;
}
#u87 {
  position:absolute;
  left:350px;
  top:196px;
  width:950px;
  height:350px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:350px;
}
#u88 {
  position:absolute;
  left:2px;
  top:167px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:771px;
  top:36px;
  width:145px;
  height:31px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:31px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:674px;
  top:92px;
  width:128px;
  height:21px;
  font-size:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:21px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:870px;
  top:92px;
  width:144px;
  height:21px;
  font-size:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:21px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:370px;
  top:166px;
  width:237px;
  height:24px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:24px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:380px;
  top:556px;
  width:195px;
  height:19px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:19px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:380px;
  top:205px;
  width:767px;
  height:19px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:19px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:380px;
  top:384px;
  width:436px;
  height:19px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:19px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:390px;
  top:241px;
  width:220px;
  height:19px;
}
#u104 {
  position:absolute;
  left:16px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u103_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u105 {
  position:absolute;
  left:390px;
  top:273px;
  width:220px;
  height:19px;
}
#u106 {
  position:absolute;
  left:16px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u105_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u107 {
  position:absolute;
  left:390px;
  top:305px;
  width:220px;
  height:19px;
}
#u108 {
  position:absolute;
  left:16px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u107_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u109 {
  position:absolute;
  left:390px;
  top:337px;
  width:220px;
  height:19px;
}
#u110 {
  position:absolute;
  left:16px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u109_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u111 {
  position:absolute;
  left:390px;
  top:418px;
  width:220px;
  height:19px;
}
#u112 {
  position:absolute;
  left:16px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u111_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u113 {
  position:absolute;
  left:390px;
  top:450px;
  width:220px;
  height:19px;
}
#u114 {
  position:absolute;
  left:16px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u113_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u115 {
  position:absolute;
  left:390px;
  top:482px;
  width:220px;
  height:19px;
}
#u116 {
  position:absolute;
  left:16px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u115_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u117 {
  position:absolute;
  left:390px;
  top:514px;
  width:220px;
  height:19px;
}
#u118 {
  position:absolute;
  left:16px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u117_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u119 {
  position:absolute;
  left:390px;
  top:591px;
  width:460px;
  height:19px;
}
#u120 {
  position:absolute;
  left:16px;
  top:0px;
  width:442px;
  word-wrap:break-word;
}
#u119_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u121 {
  position:absolute;
  left:390px;
  top:623px;
  width:404px;
  height:19px;
}
#u122 {
  position:absolute;
  left:16px;
  top:0px;
  width:386px;
  word-wrap:break-word;
}
#u121_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u123 {
  position:absolute;
  left:390px;
  top:655px;
  width:404px;
  height:19px;
}
#u124 {
  position:absolute;
  left:16px;
  top:0px;
  width:386px;
  word-wrap:break-word;
}
#u123_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u125 {
  position:absolute;
  left:390px;
  top:687px;
  width:404px;
  height:19px;
}
#u126 {
  position:absolute;
  left:16px;
  top:0px;
  width:386px;
  word-wrap:break-word;
}
#u125_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u127 {
  position:absolute;
  left:370px;
  top:754px;
  width:237px;
  height:24px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:24px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:380px;
  top:793px;
  width:351px;
  height:19px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:19px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:390px;
  top:822px;
  width:341px;
  height:19px;
}
#u132 {
  position:absolute;
  left:16px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u131_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u133 {
  position:absolute;
  left:390px;
  top:851px;
  width:341px;
  height:19px;
}
#u134 {
  position:absolute;
  left:16px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u133_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u135 {
  position:absolute;
  left:390px;
  top:880px;
  width:341px;
  height:19px;
}
#u136 {
  position:absolute;
  left:16px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u135_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u137 {
  position:absolute;
  left:390px;
  top:909px;
  width:341px;
  height:19px;
}
#u138 {
  position:absolute;
  left:16px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u137_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u139 {
  position:absolute;
  left:380px;
  top:953px;
  width:247px;
  height:19px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:19px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:390px;
  top:982px;
  width:341px;
  height:19px;
}
#u142 {
  position:absolute;
  left:16px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u141_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u143 {
  position:absolute;
  left:390px;
  top:1011px;
  width:341px;
  height:19px;
}
#u144 {
  position:absolute;
  left:16px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u143_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u145 {
  position:absolute;
  left:390px;
  top:1040px;
  width:341px;
  height:19px;
}
#u146 {
  position:absolute;
  left:16px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u145_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u147 {
  position:absolute;
  left:390px;
  top:1069px;
  width:341px;
  height:19px;
}
#u148 {
  position:absolute;
  left:16px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u147_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u149 {
  position:absolute;
  left:1010px;
  top:577px;
  width:150px;
  height:46px;
  text-align:left;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:46px;
}
#u150 {
  position:absolute;
  left:8px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:1080px;
  top:536px;
  width:10px;
  height:41px;
}
#u151_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u151_end {
  position:absolute;
  left:-5px;
  top:24px;
  width:20px;
  height:18px;
}
#u151_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:41px;
}
#u152 {
  position:absolute;
  left:820px;
  top:936px;
  visibility:hidden;
}
#u152_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u152_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:170px;
  font-size:16px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:170px;
}
#u154 {
  position:absolute;
  left:2px;
  top:54px;
  width:426px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:242px;
  top:120px;
  width:100px;
  height:30px;
}
#u155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u156 {
  position:absolute;
  left:82px;
  top:120px;
  width:100px;
  height:30px;
}
#u156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u157 {
  position:absolute;
  left:1000px;
  top:1133px;
  width:240px;
  height:45px;
  text-align:left;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:45px;
}
#u158 {
  position:absolute;
  left:8px;
  top:4px;
  width:230px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:910px;
  top:1151px;
  width:90px;
  height:10px;
}
#u159_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u159_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u159_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
#u160 {
  position:absolute;
  left:72px;
  top:163px;
  width:25px;
  height:25px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u161 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
