body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:107px;
  top:65px;
  width:88px;
  height:38px;
  font-family:'Helvetica Neue LT Pro 75 Bold', 'Helvetica Neue LT Pro';
  color:#9966FF;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:38px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:1305px;
  top:76px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:1420px;
  top:76px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1272px;
  top:74px;
  width:24px;
  height:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:233px;
  top:76px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:331px;
  top:76px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:412px;
  top:76px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:90px;
  top:101px;
  width:1400px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:1383px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1400px;
  height:1px;
}
#u15 {
  position:absolute;
  left:232px;
  top:131px;
  width:168px;
  height:50px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u16 {
  position:absolute;
  left:232px;
  top:210px;
  width:510px;
  height:200px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:200px;
}
#u17 {
  position:absolute;
  left:2px;
  top:92px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:403px;
  top:240px;
  width:112px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:403px;
  top:373px;
  width:179px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#999999;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:17px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:403px;
  top:271px;
  width:171px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:17px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:403px;
  top:331px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:405px;
  top:312px;
  width:25px;
  height:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u27 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:515px;
  top:310px;
  width:20px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:568px;
  top:310px;
  width:16px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:460px;
  top:310px;
  width:20px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:696px;
  top:210px;
  width:46px;
  height:46px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u35 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:456px;
  top:331px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:510px;
  top:331px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:563px;
  top:331px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:403px;
  top:210px;
  width:200px;
  height:200px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u43 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:262px;
  top:230px;
  width:108px;
  height:160px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:160px;
}
#u45 {
  position:absolute;
  left:2px;
  top:44px;
  width:104px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:132px;
  top:130px;
  visibility:hidden;
}
#u46_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u46_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:340px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:340px;
}
#u48 {
  position:absolute;
  left:2px;
  top:162px;
  width:1217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1196px;
  top:1px;
  width:24px;
  height:24px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:471px;
  top:24px;
  width:278px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-size:20px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:27px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:235px;
  top:110px;
  width:755px;
  height:155px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:150px;
  top:30px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:300px;
  top:30px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:450px;
  top:30px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:600px;
  top:30px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:0px;
  top:60px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u75 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:150px;
  top:60px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:300px;
  top:60px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:450px;
  top:60px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:600px;
  top:60px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:90px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:150px;
  top:90px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:300px;
  top:90px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:450px;
  top:90px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:600px;
  top:90px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:150px;
  top:120px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:300px;
  top:120px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u99 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:450px;
  top:120px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:600px;
  top:120px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u103 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:90px;
  top:50px;
  width:1400px;
  height:920px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:920px;
}
#u105 {
  position:absolute;
  left:2px;
  top:452px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:532px;
  top:254px;
  visibility:hidden;
}
#u106_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u106_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u107 {
  position:absolute;
  left:0px;
  top:10px;
  width:510px;
  height:280px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:280px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:506px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:34px;
  top:73px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:34px;
  top:122px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:115px;
  top:122px;
  width:365px;
  height:100px;
}
#u113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:100px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u114 {
  position:absolute;
  left:115px;
  top:73px;
  width:95px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u115 {
  position:absolute;
  left:16px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u114_input {
  position:absolute;
  left:-3px;
  top:0px;
}
#u116 {
  position:absolute;
  left:225px;
  top:73px;
  width:110px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u117 {
  position:absolute;
  left:16px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u116_input {
  position:absolute;
  left:-3px;
  top:0px;
}
#u118 {
  position:absolute;
  left:350px;
  top:73px;
  width:110px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u119 {
  position:absolute;
  left:16px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u118_input {
  position:absolute;
  left:-3px;
  top:0px;
}
#u120 {
  position:absolute;
  left:380px;
  top:240px;
  width:100px;
  height:30px;
}
#u120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'微软雅黑';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u121 {
  position:absolute;
  left:493px;
  top:0px;
  width:24px;
  height:24px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u122 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u106_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u123 {
  position:absolute;
  left:113px;
  top:102px;
  width:304px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:18px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:70px;
}
#u124 {
  position:absolute;
  left:2px;
  top:23px;
  width:300px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1460px;
  top:560px;
  width:30px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:100px;
}
#u126 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  word-wrap:break-word;
}
